@model Trlifaj.Choirify.ViewModels.SingerViewModels.SingerDetailEditViewModel

@{
    ViewData["Title"] = "Smazat zpěváka";
}

<h2>Opravdu chceš smazat zpěváka?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @if (Model.IsActive)
            {
                <span class="text-success">
                    <i class="fas fa-check fa-1x"></i>
                </span>
            }
            else
            {
                <span class="text-danger">
                    <i class="fas fa-times fa-1x"></i>
                </span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoiceGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoiceGroup)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Admin" class="btn btn-default">Správa zpěváků</a>
    </form>
</div>
