@model Trlifaj.Choirify.ViewModels.SingerViewModels.SingerDetailEditViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.Surname;
}

<h2>Detail zpěváka</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoiceGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoiceGroup)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Index">Seznam zpěváků</a>
</div>
