@model IEnumerable<Trlifaj.Choirify.ViewModels.SingerViewModels.SingerListViewModel>

@{
    ViewData["Title"] = "Zpěváci";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoiceGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            await Html.RenderPartialAsync("/Views/Singers/Shared/_SingerSingerListItemPartial.cshtml", item);
        }
    </tbody>
</table>
