@model IEnumerable<Trlifaj.Choirify.ViewModels.SingerViewModels.SingerListViewModel>

@{
    ViewData["Title"] = "Zpěváci";
}

<h2>Zpěváci</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoiceGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoiceGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Upravit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
