@model IEnumerable<Trlifaj.Choirify.ViewModels.SongViewModels.AdminSongListViewModel>

@{
    ViewData["Title"] = "Správa skladeb";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Přidat</a>
    <span class="btn-group pull-right" role="group">
        <a asp-action="Admin" asp-route-filter="current" class="btn btn-primary">Aktuální</a>
        <a asp-action="Admin" asp-route-filter="all" class="btn btn-primary">Všechny</a>
    </span>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Current)
            </th>
            <th colspan="2">
                Skříň / Objednávky
            </th>
            @*<th class="text-center">
                @Html.DisplayNameFor(model => model.SheetsAvailable)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CountOfOrders)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Html.RenderPartialAsync("/Views/Songs/Shared/_AdminSongListItemPartial.cshtml", item);
        }
    </tbody>
</table>
