@model Trlifaj.Choirify.ViewModels.EventViewModels.AdminEventDetailViewModel

@{
    ViewData["Title"] = Model.EventTypeString + " " + Model.Name;
}

<div class="row">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <dl class="dl-horizontal admin-event-details">
            <dt>
                @Html.DisplayNameFor(model => model.EventType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventTypeString)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.From)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.From)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.To)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.To)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                <textarea asp-for="Description" class="form-control event-description-detail textarea-disabled-white" readonly></textarea>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartOfRegistration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartOfRegistration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndOfRegistration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndOfRegistration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Organizer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Organizer)
            </dd>
        </dl>
        <div>
            <h4>
                Odkazy
            </h4>
            @foreach (var link in Model.Links)
            {
                var linkModel = new LinkViewModel { Id = Model.Id, LinkId = link.Id, Url = link.Url, Description = link.Description, Controller = "Events", AddAction = "AddLink", DeleteAction = "RemoveLink" };
                <div>
                    @await Html.PartialAsync("/Views/Shared/_LinkPartial.cshtml", linkModel)
                </div>
            }
        </div>
        @await Html.PartialAsync("/Views/Events/Shared/_RegistrationStatusTable.cshtml", Model)
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Upravit</a>
            <a asp-action="Admin" class="btn btn-default">Správa událostí</a>
            @await Html.PartialAsync("/Views/Events/Shared/_ExcelExportModal.cshtml", Model.ExcelExportParams)
        </div>
    </div>
    <div class="col-md-8">
        @await Html.PartialAsync("/Views/Events/Shared/_RegistrationsPartial.cshtml", Model)
    </div>
</div>

