@model IEnumerable<Trlifaj.Choirify.ViewModels.EventViewModels.EventListViewModel>

@{
    ViewData["Title"] = "Události";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th  class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th  class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Html.RenderPartialAsync("/Views/Events/Shared/_ChoirmasterEventListItemPartial.cshtml", item);
        }
    </tbody>
</table>
