@model Trlifaj.Choirify.ViewModels.EventViewModels.EventDetailEditViewModel

@{
    ViewData["Title"] = Model.EventTypeString + " " + Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTypeString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <textarea asp-for="Description" class="form-control singer-event-description-detail textarea-disabled-white" readonly></textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartOfRegistration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartOfRegistration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndOfRegistration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndOfRegistration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organizer)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(Roles.Singer))
    {
        <a asp-action="Index" class="btn btn-default">Seznam událostí</a>
    }
</div>
