@model IEnumerable<Trlifaj.Choirify.ViewModels.EventViewModels.SingerEventListViewModel>

@{
    ViewData["Title"] = "Události";
}
<h2>@ViewData["Title"]</h2>
<p class="btn-group pull-right" role="group">
    <a asp-action="Index" asp-route-filter="upcoming" class="btn btn-primary">Nadcházející</a>
    <a asp-action="Index" asp-route-filter="all" class="btn btn-primary">Všechny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th class="event-name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="hidden-xs hidden-sm event-name">
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.EndOfRegistration)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Html.RenderPartialAsync("/Views/Events/Shared/_SingerEventListItemPartial.cshtml", item);
        }
    </tbody>
</table>
