@model Trlifaj.Choirify.ViewModels.UserViewModels.UserDetailEditViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.Surname;
}

<h2>Profil uživatele</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfIDCard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfIDCard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanLogin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoiceGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoiceGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedRoles)
        </dt>
        @foreach (var role in Model.SelectedRoles)
        {
            <dd>
                @Model.Roles.Where(r => r.Value == role).Select(r => r.Text).FirstOrDefault()
            </dd>
        }
    </dl>
</div>
<div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="SingerId" />

    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.UserId">Upravit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.UserId">Smazat</a>
    <a class="btn btn-default" asp-action="Index">Seznam uživatelů</a>
</div>
