@model IEnumerable<Trlifaj.Choirify.ViewModels.UserViewModels.UserListViewModel>

@{
    ViewData["Title"] = "Uživatelé";
}

<h2>Uživatelé</h2>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GdprApproved)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.IsSinger)
                {
                    <td>Zpěvák</td>
                }
                else if (item.IsChoirmaster)
                {
                    <td>Sbormistr</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GdprApproved)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.UserId">Upravit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.UserId">Detail</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>
