@model AdminSongListViewModel
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td class="hidden-xs">
        @Html.DisplayFor(modelItem => Model.Author)
    </td>
    <td class="text-center hidden-xs">
        @if (Model.Current == true)
        {
            <i class="fas fa-check fa-1x text-success"></i>
        }
        else
        {
            <i class="fas fa-times fa-1x text-danger"></i>
        }
    </td>
    <td class="text-center">
        <strong>
            @Html.DisplayFor(modelItem => Model.SheetsAvailable)
        </strong>
    </td>
    <td class="text-center">
        <strong>
            @Html.DisplayFor(modelItem => Model.CountOfOrders)
        </strong>
    </td>
    <td class="text-center text-danger">
        <strong>
            @Html.DisplayFor(modelItem => Model.MissingCopies)
        </strong>
    </td>
    <td>
        <span>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Upravit</a>
            <a asp-action="AdminDetails" asp-route-id="@Model.Id" class="btn btn-info">Detail</a>
            @*<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Smazat</a>*@
            <a asp-action="Sheets" asp-route-id="@Model.Id" class="btn btn-warning">Noty</a>
        </span>
    </td>
</tr>