@model SingerSongListViewModel
@using Trlifaj.Choirify.Models.Enums
@{
    var rowId = "song" + Model.Id;
}

<tr id="@rowId">
    <td>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <strong>
                    @Html.DisplayFor(modelItem => Model.Name)
                </strong>
            </div>
            <div class="col-xs-12 col-md-6">
                @Html.DisplayFor(modelItem => Model.Author)
            </div>
        </div>
    </td>
    <td>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                @Html.DisplayNameFor(modelItem => Model.Current)
                @if (Model.Current == true)
                {
                    <i class="fas fa-check fa-1x text-success"></i>
                }
                else
                {
                    <i class="fas fa-times fa-1x text-danger"></i>
                }
            </div>
            <div class="col-xs-12 col-md-6">
                @switch (Model.SheetInfo)
                {
                    case SheetInfoType.HasCopy:
                        <strong class="text-success">Mám noty</strong>
                        break;
                    case SheetInfoType.Ordered:
                        <strong class="text-info">Objednáno</strong>
                        break;
                    case SheetInfoType.NoCopy:
                        <strong class="text-danger">Nemám noty</strong>
                        break;
                    default:
                        <strong class="text-danger">Nemám noty</strong>
                        break;
                }
            </div>
        </div>
    </td>
    <td>
        <div class="btn-group-vertical pull-right hidden-md hidden-lg" role="group">
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info">Detail</a>
            @await Html.PartialAsync("/Views/Songs/Shared/Orders/_OrderButton.cshtml", Model)
            @await Html.PartialAsync("/Views/Songs/Shared/Orders/_HaveButton.cshtml", Model)
        </div>
        <div class="btn-group pull-right hidden-xs hidden-sm" role="group">

            @await Html.PartialAsync("/Views/Songs/Shared/Orders/_OrderButton.cshtml", Model)
            @await Html.PartialAsync("/Views/Songs/Shared/Orders/_HaveButton.cshtml", Model)
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info">Detail</a>
        </div>
    </td>
    @*@await Html.PartialAsync("/Views/Songs/Shared/Orders/_OrderModals.cshtml", Model)*@
</tr>