@model Trlifaj.Choirify.ViewModels.UserViewModels.UserDetailEditViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.Surname;
}

<h2>Profil uživatele</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        @if (Model.IsSinger)
        {
            <dd>Zpěvák</dd>
        }
        else if (Model.IsChoirmaster)
        {
            <dd>Sbormistr</dd>
        }
        else
        {
            <dd></dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanLogin)
        </dt>
        <dd>
            @if (Model.CanLogin)
            {
                <span class="text-success">
                    <i class="fas fa-check fa-1x"></i>
                </span>
            }
            else
            {
                <span class="text-danger">
                    <i class="fas fa-times fa-1x"></i>
                </span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GdprApproved)
        </dt>
        <dd>
            @if (Model.GdprApproved)
            {
                <span class="text-success">
                    <i class="fas fa-check fa-1x"></i>
                </span>
            }
            else
            {
                <span class="text-danger">
                    <i class="fas fa-times fa-1x"></i>
                </span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedRoles)
        </dt>
        @foreach (var role in Model.SelectedRoles)
        {
            <dd>
                @Model.Roles.Where(r => r.Value == role).Select(r => r.Text).FirstOrDefault()
            </dd>
        }
    </dl>
</div>
<div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="SingerId" />
    <input type="hidden" asp-for="ChoirmasterId" />

    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.UserId">Upravit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.UserId">Smazat</a>
    <a class="btn btn-default" asp-action="Admin">Správa uživatelů</a>
    @if (Model.SingerId != null)
    {
        <a class="btn btn-success" asp-controller="Singers" asp-action="AdminDetails" asp-route-id="@Model.SingerId">Zobrazit osobní informace</a>
    }
</div>
