@model IEnumerable<Trlifaj.Choirify.ViewModels.UserViewModels.UserListViewModel>

@{
    ViewData["Title"] = "Uživatelé";
}

<h2>Uživatelé</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanLogin)
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.GdprApproved)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.LastLogin)
                </td>
                <td class="text-center">
                    @if (item.CanLogin)
                    {
                        <span class="text-success">
                            <i class="fas fa-check fa-1x"></i>
                        </span>
                    }
                    else
                    {
                        <span class="text-danger text-center">
                            <i class="fas fa-times fa-1x"></i>
                        </span>
                    }
                </td>
                <td class="hidden-xs hidden-sm text-center">
                    @if (item.GdprApproved)
                    {
                        <span class="text-success">
                            <i class="fas fa-check fa-1x"></i>
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            <i class="fas fa-times fa-1x"></i>
                        </span>
                    }
                </td>
                <td>
                    <span>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.UserId">Upravit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.UserId">Detail</a>
                        @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Smazat</a>*@
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
