@model AdminEventListViewModel
<tr>
    <td>
        <div class="row">
            <div class="col-xs-12" style="max-width: 300px">
                <strong>
                    @Html.DisplayFor(modelItem => Model.Name)
                </strong>
                &nbsp;(@Html.DisplayFor(modelItem => Model.EventTypeString))
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.DisplayFor(modelItem => Model.Place)
            </div>
        </div>
    </td>
    <td>
        <div class="row">
            <div class="col-xs-1">
                <strong>
                    @Html.DisplayNameFor(modelItem => Model.From):
                </strong>
            </div>
            <div class="col-xs-10">
                @Html.DisplayFor(modelItem => Model.From)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <strong>
                    @Html.DisplayNameFor(modelItem => Model.To):
                </strong>
            </div>
            <div class="col-xs-10">
                @Html.DisplayFor(modelItem => Model.To)
            </div>
        </div>
    </td>
    <td>
        <div>
            @Html.DisplayNameFor(modelItem => Model.EndOfRegistration):
        </div>
        <div class="text-danger">
            <strong>
                @Model.EndOfRegistration.ToString("d.M.yyyy H:mm")
            </strong>
        </div>

    </td>
    <td class="buttons-nowrap">
        <span class="text-success">
            @Model.RegistrationsYes
            <i class="fas fa-check fa-1x"></i>
        </span>
        <span class="text-danger">
            @Model.RegistrationsNo
            <i class="fas fa-times fa-1x"></i>
        </span>
        <span class="text-info">
            @Model.WithoutAnswer
            <i class="fas fa-minus fa-1x"></i>
        </span>
    </td>
    <td>
        <div class="btn-group pull-right" role="group">
            <a asp-action="AdminDetails" asp-route-id="@Model.Id" class="btn btn-info">Detail</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Upravit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Smazat</a>
        </div>
    </td>
</tr>