@model AdminEventListViewModel
<tr>
    <td class="hidden-xs hidden-sm">
        @Html.DisplayFor(modelItem => Model.EventTypeString)
    </td>
    <td class="event-name">
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td class="hidden-xs hidden-sm event-place">
        @Html.DisplayFor(modelItem => Model.Place)
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.DisplayFor(modelItem => Model.From)
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.DisplayFor(modelItem => Model.To)
    </td>
    <td class="buttons-nowrap">
        <span class="text-success">
            @Model.RegistrationsYes
            <i class="fas fa-check fa-1x"></i>
        </span>
        <span class="text-danger">
            @Model.RegistrationsNo
            <i class="fas fa-times fa-1x"></i>
        </span>
        <span class="text-info">
            @Model.WithoutAnswer
            <i class="fas fa-minus fa-1x"></i>
        </span>
    </td>
    <td>
        <span>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Upravit</a>
            <a asp-action="AdminDetails" asp-route-id="@Model.Id" class="btn btn-info">Detail</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Smazat</a>
        </span>
    </td>
</tr>