@model EventListViewModel
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.EventTypeString)
    </td>
    <td class="event-name">
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td  class="hidden-xs hidden-sm event-place>
        @Html.DisplayFor(modelItem => Model.Place)
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.DisplayFor(modelItem => Model.From)
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.DisplayFor(modelItem => Model.To)
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info">Detail</a>
    </td>
</tr>