@model Trlifaj.Choirify.ViewModels.EventViewModels.AdminEventDetailViewModel

<div class="registration-status-table">
    <table class="table table-striped table-hover table-bordered table-responsive table-custom">
        <thead>
            <tr>
                <th>
                    Hlas
                </th>
                <th>
                    Může
                </th>
                <th>
                    Nemůže
                </th>
                <th>
                    Nevyjádřilo se
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    S1
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.S1Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.S1No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.S1NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    S2
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.S2Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.S2No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.S2NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    A1
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.A1Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.A1No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.A1NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    A2
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.A2Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.A2No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.A2NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    T1
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.T1Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.T1No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.T1NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    T2
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.T2Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.T2No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.T2NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    B1
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.B1Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.B1No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.B1NoAnswer
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    B2
                </td>
                <td class="bg-success">
                    <strong class="text-success">
                        @Model.B2Yes
                    </strong>
                </td>
                <td>
                    <strong class="text-danger">
                        @Model.B2No
                    </strong>
                </td>
                <td>
                    <strong class="text-info">
                        @Model.B2NoAnswer
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>